.home {
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Cinzel Decorative', cursive;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.p {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Cinzel Decorative', cursive;
    list-style-type: none;
 

}

