@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*{
font-family: 'Cinzel Decorative', cursive;
    margin: 0;
    padding: 0;

    a{
        text-decoration: none;
        color:aquamarine;
    }
}

body{
    background-image: "https://d1csarkz8obe9u.cloudfront.net/posterpreviews/game-of-thrones-zoom-background-templates-design-41f8e586fab08d79e75f30034dec7cf1_screen.jpg?ts=1589107986";   
}

